// Variables
$bg-color: #fff;
$main-font: "Arial";
$primary-color: red;
$secondary-color: black;
$button-color:blue;
$light-color: #f4f4f4;
$dark-color: #333;
$new-color:yellow;

$container: 960px;

$section-padding: 20px;
